<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405915599001-cdhgthg48rsgkhoj8ejtts6re055s7uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405915599001-cdhgthg48rsgkhoj8ejtts6re055s7uj</string>
	<key>API_KEY</key>
	<string>AIzaSyCGoR43_kmLdxvdUBYzed7oe99cb-PkXy4</string>
	<key>GCM_SENDER_ID</key>
	<string>405915599001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaplanglobal.hatimtakipapp</string>
	<key>PROJECT_ID</key>
	<string>hatimtakipapp-9f30e</string>
	<key>STORAGE_BUCKET</key>
	<string>hatimtakipapp-9f30e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405915599001:ios:e081e817d68425d5ccb808</string>
</dict>
</plist>